<h1>My title.</h1>

<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit.</p>

<p>Facere dignissimos vero odio maxime ut praesentium commodi tenetur explicabo reiciendis animi voluptatibus sint dolores consectetur quibusdam quod recusandae quia expedita, dicta.</p>

<script>

	var name = prompt("Представьтесь пожалуйста!");

	if (name == "Вася") { 
		alert("Вы молодец!");
	} else {

		if(name == "Петя"){
			alert("Вы молодец!");
		} else {
			alert("А вы не молодец!");
		}
		
	}
	
</script>